/* Custom Properties */
:root {
/*-----Primary------*/
--red-500: hsl(356, 100%, 66%);
--red-400: hsl(355, 100%, 74%);
--blue-900: hsl(208, 49%, 24%);

/*-----Neutral------*/
--white: hsl(0, 100%, 100%);
--gray-600: hsl(207, 13%, 34%);
--gray-900: hsl(240, 10%, 16%);

/*-----Gradient------*/
/* Background gradient - intro/CTA mobile nav: */
--orange-300: hsl(13, 100%, 72%);
--red-550: hsl(353, 100%, 62%);
/* Background gradient - body: */
--purple-950: hsl(237, 17%, 21%);
--purple-900: hsl(237, 23%, 31%);
}

/* Header Section */
.header {
  min-height: 90vh;
  padding: 3.5rem 1.5rem;
  position: relative;

  background:
    url("../assets/images/bg-pattern-intro-mobile.svg"),
    linear-gradient(
      
      hsl(13, 100%, 72%),
      hsl(353, 100%, 62%)
    );
  color: var(--white);
  background-repeat: no-repeat;
  background-position: 34% 34%;
  background-size: 330%;

  border-bottom-left-radius: 80px;
}

/* Navigation */
.nav {
  position: relative;
}

.nav__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu {
  background-color: var(--white);
  color: var(--gray-900);

  position: absolute;
  top: 12vh;
  width: 100%;

  padding: 0 1.5rem;
  border-radius: 0.30rem;
  z-index: 2;

  .nav__secondary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 2rem 0;
    gap: 1rem;

    /* Nav Buttons */
    .login__btn {
      color: var(--gray-600);
      font-family: 'Ubuntu', sans-serif;
      font-weight: 500;
      font-size: 1rem;
    }

    .signup__btn {
      background: linear-gradient(
        90deg,
      hsl(13, 100%, 72%),
      hsl(353, 100%, 62%)
      );
      color: var(--white);

      width: 50%;
      padding: 1rem 1.25rem;
      border-radius: 2rem;

      font-size: 1rem;
      font-weight: 500;
    }
}

/* Sub Navigation*/
.sub__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 2rem 0;
    gap: 1rem;
    
    /* Dropdown Menu*/
    .dropdown__btn {
      color: var(--gray-600);
      font-family: 'Ubuntu', sans-serif;
      font-weight: 500;
      font-size: 1rem;
    }

    .dropdown.active {
      display: flex;
      flex-direction: column;
      align-items: center;

      background-color: #efeff1;
      border-radius: 0.30rem;

      padding: 1.5rem 0;
      margin-top: 0.5rem;
      width: 100%;
      gap: 1rem;

      a {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
        font-size: 1rem;
        color: var(--gray-600);
      }
    }
  }
}

.dropdown__btn::after {
    content: url("../assets/images/icon-arrow-dark.svg");
    margin-left: 0.5rem;
}

.divider {
    height: 1px;
    background-color: var(--gray-600);
    opacity: 0.3;
}

/* Header Content */
.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin: 6rem 0;
    gap: 1rem;

    .header__text {
      color: var(--white);
      margin-bottom: 1.5rem;
  }
}

.header__buttons {
    display: flex;
    gap: 1rem;

    /* Header Buttons */
    .btn__start {
        background: var(--white);
        color: var(--red-500);
    }

    .btn__learn {
        border: 2px solid var(--white);
        background: transparent;
        color: var(--white);
    }

    .btn__learn,
    .btn__start {
      padding: 1rem 1.25rem;
      border-radius: 2rem;
      font-size: 1rem;
      font-weight: 600;
    }
}

/* Features Section */
.features__title {
    color: var(--blue-900);
    text-align: center;
    margin: 6rem 0 2rem 0;
}

.features__content--container {
    text-align: center;
    margin: 4rem 0;
}

.features__img--content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.features__text--content {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;
    padding: 0 2rem;
    margin-bottom: 16rem;

  .features__subtitle {
    color: var(--blue-900);
    font-size: 1.5rem;
    font-weight: 600;
  }
}

/* Infrastructure Section */
.infrastructure__section {
    position: relative;
    padding: 12rem 0 6rem 0;

    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    background: url(../assets/images/bg-pattern-circles.svg) no-repeat var(--purple-950);
    background-size: 94vh;
    background-position: center -38vh;

    .infrastructure__text--content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        margin-top: 2rem;
        gap: 1.5rem;
        padding: 0 2rem;

        .infrastructure__title {
            color: var(--white);
            font-size: 2rem;
        }

        .infrastructure__text {
            color: var(--white);
        }
    }

}

.infrastructure__img--content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .infrastructure__img {
      position: absolute;
      transform: translateY(-28vh);

      width: 100%;
      max-width: 23.438rem;
    }

}

.tooling__section {
    margin: 4rem 0;
}

.tooling__img--content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tooling__text--content {
    display: flex;
    flex-direction: column;
    text-align: center;

    gap: 1rem;
    padding: 0 2rem;

  .tooling__subtitle {
    color: var(--blue-900);
    font-size: 1.5rem;
    font-weight: 600;
  }
}

/* Footer Section */
.footer {
    background-color: var(--gray-900);
    color: var(--white);

    border-radius: 0 4rem 0 0;
    padding: 4rem 0;
    text-align: center;

    .footer__logo {
      margin-bottom: 3rem;
    }

    .footer__links {
      display: flex;
      flex-direction: column;
      align-items: center;

    .footer__subtitle {
      margin: 1.5rem 0 1.5rem 0;
    }

    a {
      color: var(--gray-600);
      font-family: 'Ubuntu', sans-serif;
      font-weight: 500;
      margin-bottom: 0.5rem;
    }
  }

}





/* Mobile Menu Classes */

/* Mobile menu */
.nav__menu {
    display: none;
}

.nav__menu.active {
    display: block;
}

/* Dropdowns */
.dropdown {
    display: none;
}

/* Buttons */
.hamburger.hidden {
    display: none;
}

.close__btn {
    display: none;
}

.close__btn.active {
    display: block;
}

/* Utility Classes */
.margin__bottom-sm {
    margin-bottom: 1rem;
}

.margin__bottom-md {
    margin-bottom: 3rem;
}

@media only screen and (min-width: 1024px) {
  .header {
    padding: 3.5rem 8rem;
    min-height: 80vh;

    background:
      url("../assets/images/bg-pattern-intro-desktop.svg"),
      linear-gradient(
        to right,
        var(--orange-300),
        var(--red-550)
      );
      background-position: 23% 51%;

      .header__title {
        font-size: 3rem;
      }
  }

  .nav__menu {
    background-color: transparent;

    position: relative;
    top: 0;
    padding: 0 0 0 4rem;
    gap: 2rem;

    .nav__secondary {
      flex-direction: row;

      margin: 0 0 0 auto;
      gap: 2rem;

      .signup__btn {
        padding: 0.50rem 2rem;
        width: 100%;

        background: var(--white);
        color: var(--red-500);
      }

      .login__btn {
        color: var(--white);
      }
    }

    .sub__nav {
      margin: 0;

      .dropdown__btn {
        color: var(--white);
      }
    }
  }

  .nav,
  .nav__logo,
  .nav__menu,
  .nav__secondary {
    display: flex;
    align-items: center;
  }

  .dropdown__btn::after {
    content: url("../assets/images/icon-arrow-light.svg");
  }

  .hamburger {
    display: none;
  }

    .features__section {
    margin: 10rem 0;
  }

  .features__title {
    font-size: 2.5rem;
    margin: 0;
  }

  .features__content--container {
    display: flex;
    max-width: 1440px;
    height: 700px;
    align-items: center;
    margin: 0 0 8rem 12rem;

    .features__text--content {
      order: 1;
      flex: 1;
      align-items: flex-start;

      margin: 0;
      padding: 0;

      .features__text {
        text-align: start;
        width: 75%;
      }
  }

    .features__img--content {
      order: 2;
      flex: 1;

      .features__img {
          transform: translateX(5%);
          width: 130%;
          max-width: none;
      }
  }
}

  .infrastructure__section {
    display: flex;
    flex-direction: row;

    background-position: -14vw 85%;
    background-size: 65vw;

    padding: 6rem 0;
    gap: 2rem;

    .infrastructure__img--content {
      position: relative;
      flex: 1;

      .infrastructure__img {
        max-width: 30rem;
        transform: translateX(-10%);
        right: 1rem;
      }
    }

    .infrastructure__text--content {
      align-items: flex-start;
      text-align: start;
      flex: 1;
      padding: 0;
    
      .infrastructure__text {
        width: 70%;
      }
    }
  }

  .tooling__section {
    display: flex;
    flex-direction: row;
    align-items: center;

    transform: translateX(-14rem);

    .tooling__text--content {
      align-items: flex-start;
      text-align: start;

      width: 70%;

      .tooling__text.margin__bottom-sm {
        margin-bottom: 3rem;
      }
    }

    .tooling__img--content {
      position: relative;

      .tooling__img {
        max-width: 50rem;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }

}

