*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: orangered;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}


