*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* overpass-300 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/overpass-v19-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* overpass-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/overpass-v19-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ubuntu-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/ubuntu-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ubuntu-500 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/ubuntu-v21-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ubuntu-700 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/ubuntu-v21-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Custom Properties */
:root {
/*-----Primary------*/
--red-500: hsl(356, 100%, 66%);
--red-400: hsl(355, 100%, 74%);
--blue-900: hsl(208, 49%, 24%);

/*-----Neutral------*/
--white: hsl(0, 100%, 100%);
--gray-600: hsl(207, 13%, 34%);
--gray-900: hsl(240, 10%, 16%);

/*-----Gradient------*/
/* Background gradient - intro/CTA mobile nav: */
--orange-300: hsl(13, 100%, 72%);
--red-550: hsl(353, 100%, 62%);
/* Background gradient - body: */
--purple-950: hsl(237, 17%, 21%);
--purple-900: hsl(237, 23%, 31%);
}

/* General Typography */
body {
    font-family: 'Overpass', sans-serif;  
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* Header Section */
.header {
  min-height: 90vh;
  padding: 3.5rem 1.5rem;
  position: relative;

  background:
    url("../assets/images/bg-pattern-intro-mobile.svg"),
    linear-gradient(
      
      hsl(13, 100%, 72%),
      hsl(353, 100%, 62%)
    );
  color: var(--white);
  background-repeat: no-repeat;
  background-position: 34% 34%;
  background-size: 330%;

  border-bottom-left-radius: 80px;
}

/* Navigation */
.nav {
  position: relative;
}

.nav__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu {
  background-color: var(--white);
  color: var(--gray-900);

  position: absolute;
  top: 12vh;
  width: 100%;

  padding: 0 1.5rem;
  border-radius: 0.30rem;
  z-index: 2;

  .nav__secondary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 2rem 0;
    gap: 1rem;

    /* Nav Buttons */
    .login__btn {
      color: var(--gray-600);
      font-family: 'Ubuntu', sans-serif;
      font-weight: 500;
      font-size: 1rem;
    }

    .signup__btn {
      background: linear-gradient(
        90deg,
      hsl(13, 100%, 72%),
      hsl(353, 100%, 62%)
      );
      color: var(--white);

      width: 50%;
      padding: 1rem 1.25rem;
      border-radius: 2rem;

      font-size: 1rem;
      font-weight: 500;
    }

  }

}

/* Sub Navigation*/
.sub__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 2rem 0;
    gap: 1rem;
    
    /* Dropdown Menu*/
    .dropdown__btn {
      color: var(--gray-600);
      font-family: 'Ubuntu', sans-serif;
      font-weight: 500;
      font-size: 1rem;
    }

    .dropdown.active {
      display: flex;
      flex-direction: column;
      align-items: center;

      background-color: #efeff1;
      border-radius: 0.30rem;

      padding: 1.5rem 0;
      margin-top: 0.5rem;
      width: 100%;
      gap: 1rem;

      a {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
        font-size: 1rem;
        color: var(--gray-600);
      }

    }
}

.dropdown__btn::after {
    content: url("../assets/images/icon-arrow-dark.svg");
    margin-left: 0.5rem;
}

.divider {
    height: 1px;
    background-color: var(--gray-600);
    opacity: 0.3;
}

/* Header Content */
.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin: 6rem 0;
    gap: 1rem;

    .header__text {
      margin-bottom: 1.5rem;
  }
}

.header__buttons {
    display: flex;
    gap: 1rem;

    /* Header Buttons */
    .btn__start {
        background: var(--white);
        color: var(--red-500);
    }

    .btn__learn {
        border: 2px solid var(--white);
        background: transparent;
        color: var(--white);
    }

    .btn__learn,
    .btn__start {
      padding: 1rem 1.25rem;
      border-radius: 2rem;
      font-size: 1rem;
      font-weight: 600;
    }
}

/* Mobile Menu Classes */

/* Mobile menu */
.nav__menu {
    display: none;
}

.nav__menu.active {
    display: block;
}

/* Dropdowns */
.dropdown {
    display: none;
}

/* Buttons */
.hamburger.hidden {
    display: none;
}

.close__btn {
    display: none;
}

.close__btn.active {
    display: block;
}