/* Header Section */
.header {
  min-height: 90vh;
  padding: 3.5rem 1.5rem;
  position: relative;

  background:
    url("../assets/images/bg-pattern-intro-mobile.svg"),
    linear-gradient(
      
      hsl(13, 100%, 72%),
      hsl(353, 100%, 62%)
    );
  color: var(--white);
  background-repeat: no-repeat;
  background-position: 34% 34%;
  background-size: 330%;

  border-bottom-left-radius: 80px;
}

/* Navigation */
.nav {
  position: relative;
}

.nav__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu {
  background-color: var(--white);
  color: var(--gray-900);

  position: absolute;
  top: 12vh;
  width: 100%;

  padding: 0 1.5rem;
  border-radius: 0.30rem;
  z-index: 2;

  .nav__secondary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 2rem 0;
    gap: 1rem;

    /* Nav Buttons */
    .login__btn {
      color: var(--gray-600);
      font-family: 'Ubuntu', sans-serif;
      font-weight: 500;
      font-size: 1rem;
    }

    .signup__btn {
      background: linear-gradient(
        90deg,
      hsl(13, 100%, 72%),
      hsl(353, 100%, 62%)
      );
      color: var(--white);

      width: 50%;
      padding: 1rem 1.25rem;
      border-radius: 2rem;

      font-size: 1rem;
      font-weight: 500;
    }

  }

}

/* Sub Navigation*/
.sub__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 2rem 0;
    gap: 1rem;
    
    /* Dropdown Menu*/
    .dropdown__btn {
      color: var(--gray-600);
      font-family: 'Ubuntu', sans-serif;
      font-weight: 500;
      font-size: 1rem;
    }

    .dropdown.active {
      display: flex;
      flex-direction: column;
      align-items: center;

      background-color: #efeff1;
      border-radius: 0.30rem;

      padding: 1.5rem 0;
      margin-top: 0.5rem;
      width: 100%;
      gap: 1rem;

      a {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
        font-size: 1rem;
        color: var(--gray-600);
      }

    }
}

.dropdown__btn::after {
    content: url("../assets/images/icon-arrow-dark.svg");
    margin-left: 0.5rem;
}

.divider {
    height: 1px;
    background-color: var(--gray-600);
    opacity: 0.3;
}

/* Header Content */
.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin: 6rem 0;
    gap: 1rem;

    .header__text {
      margin-bottom: 1.5rem;
  }
}

.header__buttons {
    display: flex;
    gap: 1rem;

    /* Header Buttons */
    .btn__start {
        background: var(--white);
        color: var(--red-500);
    }

    .btn__learn {
        border: 2px solid var(--white);
        background: transparent;
        color: var(--white);
    }

    .btn__learn,
    .btn__start {
      padding: 1rem 1.25rem;
      border-radius: 2rem;
      font-size: 1rem;
      font-weight: 600;
    }
}

/* Mobile Menu Classes */

/* Mobile menu */
.nav__menu {
    display: none;
}

.nav__menu.active {
    display: block;
}

/* Dropdowns */
.dropdown {
    display: none;
}

/* Buttons */
.hamburger.hidden {
    display: none;
}

.close__btn {
    display: none;
}

.close__btn.active {
    display: block;
}